#API ключ полученный от телеграм бота @BotFather
BOT_API_KEY=

#API ключ от вашей модели (GigaChat, OpenAI, Depseek...)
LLM_API_KEY=

#Адресс провайдера модели, я использую Deepseek: https://api.deepseek.com
BASE_URL=

#Модель LLM, например: deepseek-chat, gpt-4 и т.д.
MODEL=

#Температура модели
TEMPERATURE=0


COINMARKETCAP_API_KEY=
OPENWEATHERMAP_API_KEY=

MONGO_URI=mongodb://localhost:27017
MONGO_DB=ai_assistanc